@import "../../Responsive.scss";

.navbar {
    font-family: 'Roboto', sans-serif;
}

.navbar-paper {
    @include media(tablet_mobile, portrait) {
        button {
            width: 100% !important;
            border-radius: 0;
            border-bottom: 1px solid #dbdbdb !important;
        }
    }
}

.invert-color-icon {
    visibility: hidden !important;
}